@page
@model ContactModel
@{
}
<h2>@ViewData["Title"]</h2>
<h3 class="header3-brand">@Model.Message</h3>

<address>
    CarShare Ltd </br>
    PO Box 658  </br>
    Edinburgh </br>
    <abbr title="Phone">P:</abbr>
    +44 131	4960000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
