@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h3 class="header3-brand" style="text-align:center">Computershare</h3>

<p>Computershare has brought together many different businesses, many different people and many different products and services around the world.</p>
<p>Our approach is based on three long-held attributes:</p>

<div class="grid-container">
    <div class="grid-item1">
        <img src="~/images/certainty.jpg" />
        <h2 style="text-align:center">Certainty</h2>
        <p>You can count on us to deliver every time</p>
    </div>
    <div class="grid-item2">
        <img src="~/images/Ingenuity.jpg" />
        <h2 style="text-align:center">Ingenuity</h2>
        <p>We look beyond today's problems to see tomorrow's opportunities</p>
    </div>
    <div class="grid-item3">
        <img src="~/images/Advantage.jpg" />
        <h2 style="text-align:center">Advantage</h2>
        <p>We help you unlock your competitive advantage</p>
    </div>
</div>

