@page
@model LoansModel
@{

}
<h2>@ViewData["Title"]</h2>
<h3 class="header3-brand">@Model.Message</h3>

<p>Our outsourced loan servicing solutions include:</p>
<div class="listblock">
    <ul>
        <li>Exceptional debt management and customer service capabilities</li>
        <li>Credit management</li>
        <li>Interest-only strategies</li>
    </ul>
</div>

<p>
Beyond our core services, we can also support you with a broad range of other loan products and services alongside intelligence, and standby and securitisation.
</p>