@page
@model LoansModel
@{

}
<h2>@ViewData["Title"]</h2>
<h3 class="header3-brand">@Model.Message</h3>


<p>Whether you need to find a robust, compliant and efficient way of managing your mortgage assets or are looking to maximise the value of a portfolio, we're here to help.</p>
<p>With our recent appointment to service the mortgage book of UK Asset Resolution (UKAR) and the acquisition of HML in 2014, we've brought our mortgage servicing businesses under one UK Loan Services umbrella to create an even stronger business.</p>
<p>Our outsourced mortgage servicing solutions include:</p>

<div class="listblock">
    <ul>
        <li>Exceptional debt management and customer service capabilities</li>
        <li>Credit management</li>
        <li>Mortgage origination</li>
        <li>Asset trading</li>
        <li>IFRS9</li>
        <li>Interest-only strategies</li>
    </ul>
</div>
<p>    Beyond our core third-party mortgage services, we can also support you with a broad range of other loan products and services alongside legal title, business intelligence, and standby and securitisation.</p>