@page
@model PlansModel

<h2>@ViewData["Title"]</h2>
<h3 class="header3-brand">@Model.Message</h3>


<p>Employee equity plans allow your employees to own a piece of your business. They align your employees with your business goals, so your success is their success.</p>
<p>Equity plans can be an invaluable part of your recruitment, retention and reward strategy.Equity plans need a dedicated focus on things like compliance, regulation, tax and reporting which all add up to make an equity plan complex to manage.</p>
<p>That’s where we come in. ​​​​​​​We're a specialist administrator of employee equity plans. With us on your team you can unlock all the benefits of an employee equity plan, without losing focus on your day job.​</p>
