@page
@model RegistryModel
@{

}
<h2>@ViewData["Title"]</h2>
<h3 class="header3-brand">@Model.Message</h3>


<p>If you have shareholders, you need to keep a register of who they are and how many shares they own. It's required in company law. For listed companies, investors are trading every second the markets are open. Those trades will be settled and ownership will pass from one party to another – and your share register has to stay up to date. This, in a nutshell, is what we do.</p>
<p>We combine our smart technology and even smarter people to give you and your board the certainty of accurate shareholder records, any time you need it. No big words, no unnecessary complexity. If you work with us, we make share registration simple.</p>
<p>Share registration is where we began as a company, and with 35+ years' experience and 900 clients in the UK we're never short of a good idea. With expert registry teams in all major financial markets, we use our global insight to share new approaches from around the world and deliver solutions for companies with listings in the UK or in multiple markets.</p>
